li {
    display: inline;
}

.ForecastList {
    display: flex;
    flex-direction: row;
}

.DailyCard {
    width: 120px;
    height: auto;
    text-align: center;
border: solid red;
}

    .forecastImg {
        width: 100px;
        height: auto;
        margin-right: 10px;
    }

    .dailyInfoTxt {
        width: 100%;
        font-size: 12px;
        font-weight: bold;
border: solid blue;
    }